.quem-somos .imagem img{
  width: 100%;
  height: 51.5rem;
  object-fit: cover;
  display: block;
}

.quem-somos{
  padding: 0 !important; 
}

.quem-somos .content{
  background: var(--bg);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.quem-somos .content .flex{
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}

.quem-somos .content .flex .title{
  font-size: 4rem;
  font-weight: 500;
  color: var(--ciano);
  max-width: 30rem;
  line-height: 1;
  letter-spacing: -0.1rem;
}

.quem-somos .content .flex-text{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.quem-somos .content .flex-text p{
  flex-shrink: 0;
  max-width: 40rem;
  color: var(--green);
  font-size: 1.4rem;
}