.advogados {
  background: linear-gradient(var(--blue) 45rem, var(--light-blue) 20rem);
}

.advogados .group-title .sub-title{
  color: var(--white);
}

.advogados .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.advogados .box-container .box .imagem:hover .icons{
  transform: translateY(0);
  opacity: 1;
}

.advogados .box-container .box .icons{
  position: absolute;
  top: 0; left: 0; right: 0;
  background: rgba(26,80,136, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transform: translateY(100%);
  opacity: 0;
}

.advogados .box-container .box .icons a{
  color: var(--white);
  font-size: 3rem;
}

.advogados .box-container .box .icons a:hover{
  color: var(--ciano);
}

.advogados .box-container .box .imagem{
  position: relative;
  height: 37rem;
  overflow: hidden;
}

.advogados .box-container .box .imagem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advogados .box-container .box .name{
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--blue);
  margin-top: 1rem;
}

.advogados .box-container .box .oab{
  color: gray;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.advogados .box-container .box .text{
  font-size: 1.4rem;
  margin-top: 1.8rem;
  color: var(--gray);
}
