.areas-atuacao{
  background: var(--light-blue);
  padding-bottom: 8rem !important;
}

.areas-atuacao .sub-title{
  color: var(--green);
  margin-bottom: 5rem;
}

.areas-atuacao .sub-title svg{
  color: var(--ciano);
}

.areas-atuacao .slide{
  text-align: center;
  border-right: 0.15rem solid var(--green);
  padding: 0 1rem;
}

.areas-atuacao .slide img{
  height: 8rem;
  margin-bottom: 2rem;
}

.areas-atuacao .slide p{
  font-size: 1.5rem;
  line-height: 1.2;
  color: var(--gray);
}